[submodule "sites/simprob"]
	path = sites/simprob
	url = https://github.com/hanmyeonglee/simprob.cubus.sh.git
[submodule "sites/skunor-bot"]
	path = sites/skunor-bot
	url = https://github.com/hanmyeonglee/skunor-bot.git
